<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css">
  <title>Songs</title>
</head>

<body class="sour-gummy-font">

  <nav>
    <ul>
      <li>
        <a href="/songs/new">Add a new song</a>
      </li>
      <li>
        <a href="/">Back to Home Page</a>
      </li>
    </ul>
  </nav>

  <h1>My Current Songs</h1>
  <div class="small-song-card-container">
    <% songs.forEach(song => { %>

    <div class="small-song-card">
      <a href="/songs/<%=song._id%>">
        <div>Title: <%= song.title %></div>
        <div>Artist: <%= song.artist %></div>
        <div>Album: <%= song.album %></div>
        <div>Rating: <%= song.rating %></div>
      </a>
    </div>

    <% }) %>
  </div>

</body>

</html>