<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>My Song</title>
</head>

<body class="sour-gummy-font">

  <nav>
    <ul>
      <li>
        <a href="/songs">Back to All Songs</a>
      </li>
    </ul>
  </nav>
  <div class="song-card-container">
    <div class="song-card">
      <img src="<%= song.albumArt %>" alt="Album Art">
      <div class="song-info">Title: <%= song.title %></div>
      <div class="song-info">Artist: <%= song.artist %></div>
      <div class="song-info">Album: <%= song.album %></div>
      <div class="song-info">
        <% for (let i = 0; i< song.rating; i++) { %>
        ⭐
        <% } %>
      </div>
      <div class="song-info">Genre: <%= song.genre %></div>
      <div class="song-info">Release Date: <%= song.releaseDate %></div>
      <% if (song.previewUrl) { %>
      <div class="audio-preview">
        <audio controls>
          <source src="<%= song.previewUrl %>" type="audio/mp4">
          Your browser does not support the audio element.
        </audio>
      </div>
      <% } %>

    </div>

    <form class="show-form" action="/songs/<%=song._id%>?_method=DELETE" method="POST">
      <button type="submit"> Delete</button>
      <div class="edit-button">
        <a href="/songs/<%= song._id %>/edit">Edit Song</a>
      </div>
    </form>
  </div>

</body>

</html>